*{
margin:0%;
padding:0%;
box-sizing:border- box;
}

html,body{
height:100%;
width:100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:#f3e5f5;
    
}
#main1{
    height: 100%;
    width: 100%;
    background-color:white;
    
}
#header{
    position: fixed;
    height: 13%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #90caf9;

}
#header1{
    height: 13%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #90caf9;

}
#logo1{
    height: 80%;
    
}
.text1 a{
    text-align:auto;
    color: black;
    font-weight: bold;
    font-size:20px;
    display: flex;
}
#akhil{
	
	height:100%;
    width: 75%;
	display: flex;
    align-items: center;
    justify-content: start;
}
#page1{
    height: 87%;
    width: 100%;
    background-color: #f3e5f5;
    display:flex;
}
#page2{
    height: 87%;
    width: 100%;
    background-color:#f3e5f5;
}
#page3{
    height: 87%;
    width: 100%;
    background-color:#f3e5f5;
}
#page4{
    height: 87%;
    width: 100%;
    background-color:#f3e5f5;
}
#fakeHeader{
    height: 13%;
    width: 100%;
    background-color:#f3e5f5;
}
#logo{
    height: 80%;
    margin-left:7%;
    margin-right:20px;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.text{
    text-align:auto;
    color: black;
    font-weight: bold;
    font-size:20px;
    display: flex;
}

.btn-link {
      display: inline-block;
      margin-right:40px;
      padding:12px 50px;
      background-color: green;      /* Default blue */
      color: white;
      text-decoration: none;
      font-size: 16px;
      border-radius: 6px;
      transition: background-color 0.3s ease;
    }
.btn-link:hover {
	color:white;
      background-color: #42a5f5;     /* Darker blue on hover */
    }
#button{
	display: inline-block;
      margin-right:40px;
      padding:12px 50px;
      background-color: #2196f3;      /* Default blue */
      color: white;
      text-decoration: none;
      font-size: 16px;
      border-radius: 6px;
      transition: background-color 0.3s ease;
}
#button:hover {
	color:white;
      background-color: green;     /* Darker blue on hover */
    }
.text:hover{
    color: rgb(168, 168, 246);
}

.box{
	display:flex;
	align-items:center;
	justify-content:center;
	height:87%;
	
	
}
.box1{
	padding:20px;
	width:20%;
	height:70%;
	margin:20px;
	
}
.box2{
	
	padding:20px;
	width:20%;
	height:70%;
	margin:20px;
}
.box3{
	
	padding:20px;
	width:20%;
	height:70%;
	margin:20px;
}
.box4{
	
	padding:20px;
	width:20%;
	height:70%;
	margin:20px;
}

#box5{
	height:100%;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.text1{
	font-size:25px;
}
#cont1{
	padding-top:100px;
	padding-bottom:100px;
	padding-left:60px;
	padding-right:40px;
	height:87%;
	width:40%;
	margin:30px;
}
#cont2{
	margin:30px;
	height:87%;
	width:40%;
}

#box6{
	height:100%;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
#conts2{
	padding-top:70px;
	padding-bottom:100px;
	padding-left:60px;
	padding-right:40px;
	height:87%;
	width:40%;
	margin:30px;
}
#conts1{
	padding-top:40px;
	padding-left:60px;
	margin-left:100px;
	height:87%;
	width:40%;
}
#footer{
	height:13%;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}